/* ---------------- */
/* #region بخش اصلی */
/* ---------------- */
#search-sheet {
  position: fixed;
  height: 95%;
  bottom: -100%; /* مخفی بصورت پیش فرض */
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px 16px 0 0;
  box-sizing: border-box;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease;
  z-index: 1000;
  direction: rtl;
}
/* صفحه جستجو در وضعیت نمایش */
#search-sheet.open {
  bottom: 0;
}

#search-sheet .top-bar {
  width: 100%;
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* عنوان صفحه جستجو */
#search-sheet .top-bar .title {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: iransans-fd, sans-serif;
}
/* دکمه بستن صفحه جستجو */
#search-sheet .top-bar .close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 24px;
  top: calc(50% - 20px);
  border: none;
  border-radius: 8px;
  background-color: transparent;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
}
/* هاور کردن روی دکمه بستن */
#search-sheet .close-btn:hover {
  background-color: var(--color_primary_light_50);
}

/* #endregion بخش اصلی */

/* محتوای اصلی صفحه جستجو */
#search-sheet .content {
  width: 100%;
  flex-grow: 1;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
/* کانتینر فیلد جستجو */
#search-sheet .content .input-container {
  width: 100%;
  min-height: 64px;
  margin-top: 16px;
  position: relative;
}

/* --------------------- */
/* #region تاریخچه جستجو */
/* --------------------- */
#history-container {
  width: 100%;
  flex-grow: 1;
  margin: 48px 0 8px 0;
  flex-direction: column;
  display: none;
}
#history-container.open {
  display: flex;
}
/* استایل دهی به فقط به زیرمجموعه های اول */
#history-container > span {
  font-family: iransans-fd, sans-serif;
  color: #858585;
  font-size: 16px;
  margin: 0 8px;
}
#history-container .list {
  margin: 24px 0 8px 0;
  position: relative;
}
.clear-item-btn {
  position: absolute;
  left: 24px;
  opacity: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #f1f1f1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms ease;
}
.clear-item-btn:hover {
  background-color: #e0e0e0;
}
/* × symbol inside button */
.clear-item-btn::before {
  content: "×";
  font-size: 20px;
  color: #666;
}
/* Show button on list item hover */
.list li:hover .clear-item-btn {
  opacity: 1;
}

/* #endregion تاریخچه جستجو */

/* ------------------- */
/* #region نتایج جستجو */
/* ------------------- */
#search-sheet .result-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* حالت خالی */
#empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none; /* عدم نمایش در حالت پیش فرض */
}
/* حالت خالی در وضعیت نمایش */
#empty-state.open {
  display: block;
}
/* عکس حالت خالی */
#empty-state img {
  width: 160px;
}
/* عنوان حالت خالی */
#empty-state h2 {
  font-size: 24px;
  font-family: iransans-fd, sans-serif;
}
/* توضیحات حالت خالی */
#empty-state p {
  font-size: 16px;
  font-family: iransans-fd, sans-serif;
}

/* لیست نتایج */
.list {
  width: 100%;
  margin: 48px 0 8px 0;
  padding: 0 8px;
  list-style: none;
  display: none;
}
/* نمایش لیست نتایج */
.list.open {
  display: block;
}

/* لیست آیتم */
.list-item {
  padding: 16px 0;
  font-family: iransans-fd, sans-serif;
  cursor: pointer;
  width: 100%;
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
}
/* آیکون لیست آیتم */
.list-item-image {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
/* کانتینر متن لیست آیتم */
.list .text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* عنوان لیست آیتم */
.list .text-container h3 {
  margin: 0;
  font-size: 1.2em;
}
/* آدرس لیست آیتم */
.list .text-container p {
  margin: 0;
  font-size: 0.9em;
  color: gray;
}
/* زیر خط لیست آیتم */
.list .underline {
  width: 100%;
  height: 2px;
  margin-top: 16px;
  background-color: var(--color_primary_light_50);
}

/* #endregion نتایج جستجو */
